@import 'variables';

::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $grey;
}

::-webkit-scrollbar{
  width: 6px;
  height: 6px;
  background-color: $grey;
}

::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $blue;
}

#toast-container{
  top: 90%;
  right: 88%;
}

#userCount{
  text-align: center;
}
nav{
  a{
    color: black !important;
  }
  img{
    height: 80%;
    vertical-align: middle;
  }
}
.page{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 1%;
  height: calc(100% - 4% - 64px);
  overflow-y: auto;
  
  h4{
    color: grey;
    font-style: italic;
    text-align: center;
    margin-bottom: 2px;
  }
}