@import 'variables';

.markets{
  margin-left: 2.5%;
  width: 365px;
  float: left;

  .filters{
    h4{
      color: grey;
      font-style: italic;
      text-align: center;
      padding-bottom: 15px;
      border-bottom: 1px solid $grey;
    }
    .filter{
      text-align: center;
      padding-bottom: 15px;
      border-bottom: 1px solid $grey;

      h5{
        color: grey;
      }

    }
    .biggest{
       select{
         width: 30%;
         margin-left: 35%;
         margin-bottom: 10px;
       }
     }
    .search{
      .input-field{
        i{
          float: left;
          font-size: 30px;
          margin-top: 8px;
        }
        input{
          width: calc(100% - 46px);
          margin-left: 8px;
        }
      }
    }
  }
}
.market-wrapper{
  overflow-y: scroll;
  width: calc(100% - 5% - 365px);
  height: 100%;
  float: left;

  p{
    margin-top: 0;
    text-align: center;
  }

  #table-currencies{
    width: 100%;

    i{
      font-size: 18px;
      vertical-align: top;
    }
  }
}