@import 'variables';

.portfolio {
  #add, #remove{
    margin-top: 15px;
    float: left;
    margin-right: 10px;
  }
  
  .input-field{
    width: calc((100% / 2) - ((91px + 123px) / 2) - 10px - 10px) !important;
    float: left;
    margin-right: 10px;
  }
}