<% include partials/header %>
<div class="page z-depth-4">
    <div class="about">
        <h3>What is Crypto?</h3>
        <span>
            Crypto is short form for Cryptography which involves creating written or generated codes that allow
            information to be kept secret. Allowing it to be transmitted without anyone decoding it back into a readable
            format, thus they are unable to compromise the data.
        </span>
        <h3>What are Cryptocurrencies?</h3>
        <span>
            Cryptocurrencies utilise the methods of cryptography and with it create a digital media of exchange with
            very secure, anonymous and fast transactions (usually).
        </span>
    </div>
</div>
<% include partials/footer %>