<% include partials/header %>
  <div class="page z-depth-4">
    <h4>Portfolio (auto-save)</h4>
    <div class="portfolio row">
      <div class="holdings col s10 offset-s1">
        <h6>Total holdings: <span id="total-holdings">$ 0.00 | ₿ 0.00000000</span></h6>
        <div class="table-wrapper">
          <table id="table-holdings" class="striped col">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>Price (USD)</th>
              <th>% Change 24h</th>
              <th>Holdings (USD)</th>
              <th>Holdings (BTC)</th>
              <th>Holdings</th>
              <th>+</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        </div>
        <div class="filters">
          <input id="searchHoldings" class="col s8" placeholder="Search your holdings by symbol / name here ...">
          <div class="col s4 no-hol">
            <input type="checkbox" class="filled-in" id="no-holdings" checked="" />
            <label for="no-holdings">Hide no holdings</label>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="./js/portfolio.js"></script>
<% include partials/footer %>