<% include partials/header %>
  <div class="page z-depth-4">
    <h4>Portfolio (auto-save)</h4>
    <div class="portfolio row">
      <div class="col s6 offset-s3">
        <div class="input-field">
          <input id="symbol" type="text" class="validate">
          <label for="symbol">Symbol</label>
        </div>
        <div class="input-field">
          <input id="amount" type="text" class="validate">
          <label for="amount">Amount</label>
        </div>
        <button id="add" class="btn waves-effect waves-light">Add</button>
        <button id="remove" class="btn waves-effect waves-light">Remove</button>
      </div>
    </div>
  </div>
<% include partials/footer %>